body {
  background-color: #fe8da6;
  background: linear-gradient(
    0deg,
    rgb(195, 150, 178) 0%,
    rgb(171, 152, 221) 100%
  );
}

h1 {
  color: pink;
}

.column-2 {
  color: pink;
}
#location-data {
  color: black;
}

#search-button {
  border-width: 2px;
}
#search-button:hover {
  text-decoration: wavy;
  font-weight: 600;
}

#current-location:hover {
  text-decoration: wavy;
  font-weight: 600;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

//-webkit-text-stroke-width: 1px;
// -webkit-text-stroke-color: blueviolet;
